xml/v1.0/constraint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Gary Morgan (Asynchrony Solutions Inc) -->
<xs:schema xmlns:j="http://www.it.ojp.gov/jxdm/3.0.2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:j-xsd="http://www.it.ojp.gov/jxdm/3.0.2/proxy/xsd/1.0" xmlns:j-usps="http://www.it.ojp.gov/jxdm/usps_states/1.0" targetNamespace="http://www.it.ojp.gov/jxdm/3.0.2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.it.ojp.gov/jxdm/3.0.2/proxy/xsd/1.0" schemaLocation="xsd.xsd">
		<xs:annotation>
			<xs:documentation>Proxy types that carry dictionary metadata and have XML data type simple contents.</xs:documentation>
		</xs:annotation>
	</xs:import>
	<xs:import namespace="http://www.it.ojp.gov/jxdm/usps_states/1.0" schemaLocation="Subset/jxdm/usps_states/1.0/usps_states.xsd"/>
	<xs:annotation>
		<xs:documentation>The Global Justice XML Data Model.</xs:documentation>
	</xs:annotation>
	<xs:attributeGroup name="SuperTypeMetadata"/>
	<xs:complexType name="AddressType">
		<xs:annotation>
			<xs:documentation>A structure that describes a postal location to which paper mail can be directed.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="j:SuperType">
				<xs:sequence>
					<xs:element ref="j:LocationCityName">
						<xs:annotation>
							<xs:documentation>A name of a city or town.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="j:LocationCountyName">
						<xs:annotation>
							<xs:documentation>A name of a county, parish, or vicinage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="j:LocationStateCode.USPostalService">
						<xs:annotation>
							<xs:documentation>A name of a state, commonwealth, province, or other subregion of a country.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="j:LocationPostalCodeID">
						<xs:annotation>
							<xs:documentation>A zip code or postal code.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IDType">
		<xs:annotation>
			<xs:documentation>A structure that describes an identifier of an entity.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="j:SuperType">
				<xs:sequence>
					<xs:element ref="j:ID">
						<xs:annotation>
							<xs:documentation>A value that identifies an entity within the identifier domain.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LocationType">
		<xs:annotation>
			<xs:documentation>A structure that describes a physical location.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="j:SuperType">
				<xs:sequence>
					<xs:element ref="j:LocationAddress">
						<xs:annotation>
							<xs:documentation>Details about an address for a location, e.g., a postal address.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersonNameTextType">
		<xs:annotation>
			<xs:documentation>A structure that describes a name of a person.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="j:TextType"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PersonNameType">
		<xs:annotation>
			<xs:documentation>A structure that describes a name of a person.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="j:SuperType">
				<xs:sequence>
					<xs:element ref="j:PersonGivenName">
						<xs:annotation>
							<xs:documentation>A first name of a person.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="j:PersonMiddleName">
						<xs:annotation>
							<xs:documentation>A middle name of a person.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="j:PersonSurName">
						<xs:annotation>
							<xs:documentation>A last name or family name of a person.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="j:PersonSuffixName" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersonType">
		<xs:annotation>
			<xs:documentation>A structure that describes the inherent and frequently associated characteristics of a  person.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="j:SuperType">
				<xs:sequence>
					<xs:element ref="j:PersonName">
						<xs:annotation>
							<xs:documentation>A name by which a person is known. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="j:Residence">
						<xs:annotation>
							<xs:documentation>Details about the place in which a person lives.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RegisteredOffenderType">
		<xs:annotation>
			<xs:documentation>A structure that describes information about a person who is required to register information with a law enforcement agency due to having been convicted of a certain type of crime.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="j:PersonType">
				<xs:sequence>
					<xs:element ref="j:RegisteredOffenderID">
						<xs:annotation>
							<xs:documentation>Identification information identifying a person as a certain kind of registered offender.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResidenceType">
		<xs:annotation>
			<xs:documentation>A structure that describes a place in which a person lives.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="j:LocationType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SuperType">
		<xs:annotation>
			<xs:documentation>A structure that describes metadata common to most other structures.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="j:SuperTypeMetadata"/>
	</xs:complexType>
	<xs:complexType name="TextType">
		<xs:annotation>
			<xs:documentation>A proxy structure that represents a character string, generally in the form of words of a language, and includes language metadata.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="j-xsd:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="ID" type="j:TextType" nillable="true">
		<xs:annotation>
			<xs:documentation>A value that identifies an entity within the identifier domain.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Location" type="j:LocationType" nillable="true">
		<xs:annotation>
			<xs:documentation>Details about a physical location.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationAddress" type="j:AddressType" nillable="true">
		<xs:annotation>
			<xs:documentation>Details about an address for a location, e.g., a postal address.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationCityName" type="j:TextType" nillable="true">
		<xs:annotation>
			<xs:documentation>A name of a city or town.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationCountyName" type="j:TextType" nillable="true">
		<xs:annotation>
			<xs:documentation>A name of a county, parish, or vicinage.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationPostalCodeID" type="j:IDType" nillable="true">
		<xs:annotation>
			<xs:documentation>A zip code or postal code.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationStateCode.USPostalService" type="j-usps:USStateCodeType" nillable="true">
		<xs:annotation>
			<xs:documentation>A code identifying a state.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Person" type="j:PersonType" nillable="true">
		<xs:annotation>
			<xs:documentation>Describes inherent and frequently associated characteristics of a person.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonGivenName" type="j:PersonNameTextType" nillable="true">
		<xs:annotation>
			<xs:documentation>A first name of a person.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonMiddleName" type="j:PersonNameTextType" nillable="true">
		<xs:annotation>
			<xs:documentation>A middle name of a person.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonName" type="j:PersonNameType" nillable="true">
		<xs:annotation>
			<xs:documentation>A name by which a person is known. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonSuffixName" type="j:TextType" nillable="true">
		<xs:annotation>
			<xs:documentation>A component that is appended after the family name that distinguishes members of a family with the same given, middle, and last name, (e.g., Jr, Sr, III), or otherwise qualifies the name (e.g., MD, LLD, PhD).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonSurName" type="j:PersonNameTextType" nillable="true">
		<xs:annotation>
			<xs:documentation>A last name or family name of a person.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RegisteredOffenderID" type="j:IDType" nillable="true">
		<xs:annotation>
			<xs:documentation>Identification information identifying a person as a certain kind of registered offender.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RegisteredSexOffender" type="j:RegisteredOffenderType" nillable="true">
		<xs:annotation>
			<xs:documentation>A person who is required to register as a sexual offender.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Residence" type="j:ResidenceType" nillable="true">
		<xs:annotation>
			<xs:documentation>Details about the place in which a person lives.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
