xml/v2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:usps="http://niem.gov/niem/usps_states/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1">
	<xsd:annotation>
		<xsd:appinfo>
			<i:ConformantIndicator>true</i:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="structures.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="appinfo.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="xsd.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/usps_states/2.0" schemaLocation="usps_states.xsd"/>
	<xsd:complexType name="AddressType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:AddressRepresentation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AssociationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Association"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DateType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LatitudeCoordinateType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:LatitudeDegreeValue"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="LatitudeDegreeSimpleType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:maxInclusive value="90"/>
			<xsd:minInclusive value="-90"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="LatitudeDegreeType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:LatitudeDegreeSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LocationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:LocationAddress"/>
					<xsd:element ref="nc:LocationName" minOccurs="0"/>
					<xsd:element ref="nc:LocationTwoDimensionalGeographicCoordinate" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LongitudeCoordinateType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:LongitudeDegreeValue"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="LongitudeDegreeSimpleType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="-180"/>
			<xsd:maxExclusive value="180"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="LongitudeDegreeType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:LongitudeDegreeSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PersonLocationAssociationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AssociationType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:AssociationType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonReference"/>
					<xsd:element ref="nc:LocationReference"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonNameTextType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="ProperNameTextType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:ProperNameTextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PersonNameType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonNamePrefixText" minOccurs="0"/>
					<xsd:element ref="nc:PersonGivenName"/>
					<xsd:element ref="nc:PersonMiddleName" minOccurs="0"/>
					<xsd:element ref="nc:PersonSurName"/>
					<xsd:element ref="nc:PersonNameSuffixText" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute ref="nc:personNameCommentText" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonResidenceAssociationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="PersonLocationAssociationType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:PersonLocationAssociationType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonAlternateName" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonBirthDate"/>
					<xsd:element ref="nc:PersonName"/>
					<xsd:element ref="nc:PersonSex"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProperNameTextType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="TextType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="StreetType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:StreetFullText"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StructuredAddressType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:AddressDeliveryPoint"/>
					<xsd:element ref="nc:LocationCityName"/>
					<xsd:element ref="nc:LocationCounty"/>
					<xsd:element ref="nc:LocationState"/>
					<xsd:element ref="nc:LocationPostalCode"/>
					<xsd:element ref="nc:LocationPostalExtensionCode" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TextType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="niem-xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TwoDimensionalGeographicCoordinateType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:GeographicCoordinateLatitude"/>
					<xsd:element ref="nc:GeographicCoordinateLongitude"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:attribute name="personNameCommentText" type="xsd:string"/>
	<xsd:element name="AddressDeliveryPoint" abstract="true"/>
	<xsd:element name="AddressRepresentation" abstract="true"/>
	<xsd:element name="BinaryLocationURIReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:ReferenceTarget i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="anyURI"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BinaryLocationURI" type="niem-xsd:anyURI" nillable="true"/>
	<xsd:element name="Date" type="niem-xsd:date" substitutionGroup="nc:DateRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="DateRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DateRepresentation" abstract="true"/>
	<xsd:element name="DeviceVisitedWebsiteURIReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:ReferenceTarget i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="anyURI"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DeviceVisitedWebsiteURI" type="niem-xsd:anyURI" nillable="true"/>
	<xsd:element name="GeographicCoordinateLatitude" type="nc:LatitudeCoordinateType" nillable="true"/>
	<xsd:element name="GeographicCoordinateLongitude" type="nc:LongitudeCoordinateType" nillable="true"/>
	<xsd:element name="LatitudeDegreeValue" type="nc:LatitudeDegreeType" nillable="true"/>
	<xsd:element name="LocationReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:ReferenceTarget i:name="LocationType"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Location" type="nc:LocationType" nillable="true"/>
	<xsd:element name="LocationAddress" type="nc:AddressType" nillable="true"/>
	<xsd:element name="LocationCityName" type="nc:ProperNameTextType" nillable="true"/>
	<xsd:element name="LocationCounty" abstract="true"/>
	<xsd:element name="LocationCountyName" type="nc:ProperNameTextType" substitutionGroup="nc:LocationCounty" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="LocationCounty"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationName" type="nc:ProperNameTextType" nillable="true"/>
	<xsd:element name="LocationPostalCode" type="niem-xsd:string" nillable="true"/>
	<xsd:element name="LocationPostalExtensionCode" type="niem-xsd:string" nillable="true"/>
	<xsd:element name="LocationState" abstract="true"/>
	<xsd:element name="LocationStateUSPostalServiceCode" type="usps:USStateCodeType" substitutionGroup="nc:LocationState" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="LocationState"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationStreet" type="nc:StreetType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AddressDeliveryPoint"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationTwoDimensionalGeographicCoordinate" type="nc:TwoDimensionalGeographicCoordinateType" nillable="true"/>
	<xsd:element name="LongitudeDegreeValue" type="nc:LongitudeDegreeType" nillable="true"/>
	<xsd:element name="PersonReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:ReferenceTarget i:name="PersonType"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Person" type="nc:PersonType" nillable="true"/>
	<xsd:element name="PersonAlternateName" type="nc:PersonNameType" nillable="true"/>
	<xsd:element name="PersonBirthDate" type="nc:DateType" nillable="true"/>
	<xsd:element name="PersonEmploymentLocationAssociation" type="nc:PersonLocationAssociationType" nillable="true"/>
	<xsd:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true"/>
	<xsd:element name="PersonLocationAssociation" type="nc:PersonLocationAssociationType" nillable="true"/>
	<xsd:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true"/>
	<xsd:element name="PersonName" type="nc:PersonNameType" nillable="true"/>
	<xsd:element name="PersonNamePrefixText" type="nc:TextType" nillable="true"/>
	<xsd:element name="PersonNameSuffixText" type="nc:TextType" nillable="true"/>
	<xsd:element name="PersonSex" abstract="true"/>
	<xsd:element name="PersonSexText" type="nc:TextType" substitutionGroup="nc:PersonSex" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="PersonSex"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true"/>
	<xsd:element name="PersonWorkLocation" type="nc:LocationType" nillable="true"/>
	<xsd:element name="ResidenceAssociation" type="nc:PersonResidenceAssociationType" nillable="true"/>
	<xsd:element name="RoleOf" abstract="true"/>
	<xsd:element name="RoleOfPersonReference" type="s:ReferenceType" substitutionGroup="nc:RoleOf">
		<xsd:annotation>
			<xsd:appinfo>
				<i:ReferenceTarget i:name="PersonType"/>
				<i:Base i:name="RoleOf"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StreetFullText" type="nc:TextType" nillable="true"/>
	<xsd:element name="StructuredAddress" type="nc:StructuredAddressType" substitutionGroup="nc:AddressRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AddressRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
